<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}قطره قطره{% endblock %}{% block extra_title %}{% endblock %}
    </title>
    <link rel="icon" href="{% static "assets/image/logo.png" %}" type="image/x-icon">
    <meta name="description"
          content="{% block head_description %}کارهای خود را به جمع بسپارید!{% endblock %}">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
    <meta content="text/html" charset="UTF-8">
    <style>
        #body_container {
            margin: 40px;
        }
    </style>
</head>
<body>
{% block top_bar %}
    {% include 'crowso/header.html' %}
{% endblock %}
<div id="body_container">
    {% block body %}{% endblock %}
</div>
{% block footer %}
    {% include 'crowso/footer.html' %}
{% endblock footer %}
</body>
{% block message %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="direction: rtl; color: {% if message.tags == "success" %}green{% else %}red{% endif %};">{{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
<script>
$(document).ready(function(){
    $('.messages').delay(5000).fadeOut();
});
</script>
{% endblock %}

</html>
