{% extends 'crowso/base.html' %}{% load account_extras %}
{% load staticfiles %}
{% block title %}ثبت‌نام{% endblock %}
{% block body %}
    <div class="ui center aligned container">
        <div class="ui middle aligned center aligned grid">
            <div class="six wide column">
                <h2 class="ui teal image header">
                    <div class="content">
                        ثبت‌نام کاربر
                    </div>
                </h2>
                <form class="ui large form" method="post" enctype="multipart/form-data">
                    <div class="ui segment">
                        {% csrf_token %}
                        {% for field in form %}

                            <div class="field">
                                <div class="ui right icon input">
                                    {% if field.label == 'Is requester' %}
                                        <div class="ui toggle checkbox">
                                            {{ field }}
                                            <label dir="rtl">می‌خواهم یک پروژه‌گذار شوم.</label>
                                        </div>
                                    {% else %}
                                        {{ field|html_placeholder }}
                                        {% if field.label == 'Username' or field.label == 'Phone number' or field.label == 'Name' %}
                                            <i class="ui user icon"></i>
                                        {% elif field.label == 'Email address' or field.label == 'Address' %}
                                            <i class="ui user icon"></i>
                                        {% elif field.label == 'Password' or field.label == 'Password confirmation' %}
                                            <i class="ui lock icon"></i>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        <button type="submit" class="ui fluid large teal submit button">ثبت نام</button>
                    </div>
                </form>

                <div class="ui message">
                    حساب کاربری دارید؟ <a href={% url 'accounts:login' %}>وارد شوید</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
