{% extends 'crowso/base.html' %}
{% load staticfiles %}
{% load semanticui %}
{% block title %}ایجاد پروژه{% endblock %}
{% block body %}
	<style type="text/css">
        .masthead .ui.menu .ui.button {
            font-family: 'Vazir', 'IRANSans(FaNum)', 'Arial', sans-serif;
            margin-left: 0.5em;
        }
    </style>
    <div class="ui center aligned container">
        <div class="ui middle aligned center aligned grid">
            <div class="six wide column">
                <h2 class="ui teal image header">
                    <div class="content">
                        ایجاد پروژه
                    </div>
                </h2>
                <form class="ui large form" method="post" enctype="multipart/form-data">
                    <div class="ui segment" dir="rtl">
                        {% csrf_token %}
                        {% for field in form %}
                            {% render_field field _inline=1%}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        <button type="submit" class="ui fluid large teal submit button">ساخت پروژه</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
‍
    <script>
        $('.dropdown').dropdown()
    </script>
{% endblock %}