{% extends 'crowso/base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="ui center aligned container">
        <div class="ui middle aligned center aligned grid">
            <div class="six wide column">
                <h2 class="ui teal image header">
                    <div class="content">
                        ساخت پروژه
                    </div>
                </h2>
                <form class="ui large form" method="post">
                    <div class="ui segment">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="field">
                                <div class="ui right icon input" style=";">
                                    {{ field }}
                                    <div>
                                        {{ field.label }}
                                        {% if field.field.required %}
                                            <p style="color: red">* </p>
                                        {% else %}
                                            <p> ‌</p>
                                        {% endif %}

                                    </div>

                                </div>
                            </div>
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        <button type="submit" class="ui fluid large teal submit button">ساخت پروژه</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}