{% extends 'crowso/base.html' %}
<!DOCTYPE html>
{% load staticfiles %}
{% block title %}خانه{% endblock %}
{% block body %}
    {% if is_requester %}
        <style type="text/css">
            .masthead .ui.menu .ui.button {
                font-family: 'Vazir', 'IRANSans(FaNum)', 'Arial', sans-serif;
                margin-left: 0.5em;
            }
        </style>

        <h1 class="ui center aligned teal icon header" dir="rtl">
            <i class="circular teal tint icon"></i>
            <p>پروژه‌های من</p>
        </h1>

        <div class="ui middle aligned stackable grid">
            <div class="thirteen wide column">


                <div class="ui segment">
                    <div class="ui cards" style="margin: 30px;" align="center">
                        {% for prj in projects %}
                            <div class="ui centered link card">
                                <div class="image">
                                    <img src="{{ prj.picture.url }}">
                                    {#                        <img src="{% static "assets/image/logo.png" %}">#}
                                </div>
                                <div class="content">
                                    <div class="name" dir="rtl">{{ prj.name }} <strong><br/>قیمت:
                                    </strong> {{ prj.value }}
                                    </div>
                                    <p class="description" dir="rtl">{{ prj.description }}</p>
                                    <div class="extra content">
                            <span class="center floated" dir="rtl"><br><br>
                                    <strong>تعداد تسک‌ها: </strong> {{ prj.subprojects_num }}<br>
                                    <strong>مهلت انجام: </strong> {{ prj.deadline }}<br>
                            </span>
                                        <br/>
                                        <a class="ui center floated primary button"
                                           href={% url 'core:project_view' project_id=prj.id %}><p>
                                            مشاهده جزییات پروژه
                                        </p></a>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="three wide column">

                <div class="ui inverted large inverted fluid vertical menu">
                    <a href="{% url 'core:home' %}" class="teal active button item" dir="rtl"
                       style="text-align: center">خانه</a>
                    <a class="yellow button item" href="{% url 'core:create_project' %}" dir="rtl"
                       style="text-align: center">ایجاد پروژه</a>
                    <a href="{% url 'accounts:show_profile' %}" class="olive button item" dir="rtl"
                       style="text-align: center">مشاهده و ویرایش پروفایل</a>
                    <a href="{% url 'core:withdraw' %}" class="red button item" dir="rtl" style="text-align: center">تسویه
                        حساب</a>
                    <a href="{% url 'core:credit' %}" class="green button item" dir="rtl" style="text-align: center">افزایش
                        اعتبار</a>
                </div>
            </div>
        </div>


    {% else %}
        <style type="text/css">
            .masthead .ui.menu .ui.button {
                font-family: 'Vazir', 'IRANSans(FaNum)', 'Arial', sans-serif;
                margin-left: 0.5em;
            }
        </style>

        <h1 class="ui center aligned teal icon header" dir="rtl">
            <i class="circular teal tint icon"></i>
            <p>تسک‌های در دسترس</p>
        </h1>
        <div class="ui middle aligned stackable grid">
            <div class="thirteen wide column">
                <div class="ui segment">
                    <div class="ui cards" style="margin: 40px;" align="center">
                        {% for prj in projects %}
                            <div class="ui link card">
                                <div class="image">
                                    <img src="{{ prj.picture.url }}">
                                    {#                        <img src="{% static "assets/image/logo.png" %}">#}
                                </div>
                                <div class="content">
                                    <div class="name" dir="rtl">{{ prj.name }} <strong><br/>قیمت:
                                    </strong> {{ prj.value }}
                                    </div>
                                    <p class="description" dir="rtl">{{ prj.description }}</p>
                                    <div class="extra content">
                            <span class="center floated" dir="rtl"><br><br>
                                    <strong>تعداد تسک‌ها: </strong> {{ prj.subprojects_num }}<br>
                                    <strong>مهلت انجام: </strong> {{ prj.deadline }}<br>
                            </span>
                                        <br/>
                                        <a class="ui center floated primary button"
                                           href="{% url 'core:accept_task' project_id=prj.id %}">
                                            قبول و انجام پروژه
                                        </a>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="three wide column">

                <div class="ui inverted large inverted fluid vertical menu">
                    <a href="{% url 'core:home' %}" class="teal active button item" dir="rtl"
                       style="text-align: center">خانه</a>
                    <a href="{% url 'accounts:show_profile' %}" class="olive button item" dir="rtl"
                       style="text-align: center">مشاهده و ویرایش پروفایل</a>
                    <a href="{% url 'core:withdraw' %}" class="red button item" dir="rtl" style="text-align: center">تسویه
                        حساب</a>
                    <div class="item">
                        <form>
                            <div class="ui white icon input">
                                <input type="text" placeholder="Search Project name..." name="name_contains">
                                <button><i class="search icon"></i></button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
