{% extends 'crowso/base.html' %}
<!DOCTYPE html>
{% load staticfiles %}
{% block body %}
    <style type="text/css">
        #top-banner > * {
            font-family: 'Vazir', sans-serif;
        }
    </style>
    <style type="text/css">
        .masthead .ui.menu .ui.button {
            font-family: 'Vazir', 'IRANSans(FaNum)', 'Arial', sans-serif;
            margin-left: 0.5em;
        }
    </style>
    <div id="top-banner" class="center-vertical" style="height: 300px">
        <div class="ui middle aligned center aligned container" id="banner-right">
            <img id="main-image" src="{% static "assets/image/banner.jpg" %}">
            <h2 style="font-family: 'Vazir', sans-serif;">
                خود را به دست دریا بسپار
            </h2>
            <h1 style="font-family: 'Vazir', sans-serif; direction: rtl">
                قطره قطره!
            </h1>
            <a href="/accounts/signup" class="ui big purple button" style="font-family: 'Vazir', sans-serif; direction: rtl;">
                عضو شو!
            </a>
            <h2 class="land-p" style="margin-top: 30px; font-family: 'Vazir', sans-serif;">
                می‌خوای کار کنی؟
                <a href="/" style="color: purple; font-family: 'Vazir', sans-serif;">
                    بخون تا وانگهی
                </a>
            </h2>
        </div>
    </div>
{% endblock %}