{% extends 'crowso/base.html' %}{% load account_extras %}
{% load staticfiles %}
{% block title %}ویرایش اطلاعات کاربری{% endblock %}
{% block body %}
    <div class="ui center aligned container">
        <div class="ui middle aligned center aligned grid">
            <div class="six wide column">
                <h2 class="ui teal image header">
                    <div class="content">
                        ویرایش اطلاعات کاربر
                    </div>
                </h2>
                <form class="ui large form" method="post" enctype="multipart/form-data">
                    <div class="ui centered segment">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="field">
                                {{ field|html_placeholder }}
                                {% if field.label == 'Phone number' or field.label == 'Name' or field.label == 'Email address' or field.label == 'Address' %}
                                    <div class="ui right icon input">
                                        <i class="ui user icon"></i>
                                    </div>
                                {% endif %}
                            </div>
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        <button type="submit" class="ui fluid large teal submit button">ثبت</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
<script>
    $(document).ready(function () {
        let a = document.getElementsByClassName("field");
        a.forEach(function (item) {
            item.innerHTML.replace('Change', 'ککه');
        });
        console.log("سشس");
    });
    {#document.getElementById("id_picture").innerHTML.replace('Change', 'ککه');#}
    {#document.getElementsByClassName("field").replace('Change', 'ککه');#}
    {#console.log("سشس");#}
</script>
{% endblock %}
